* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active {
  outline: none;
}
a:focus,a:active {
  outline: none;
}
nav,footer,header,aside {
  display: block;
}
html,body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: rgb(169, 143, 196);
}
input,button,textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,h2,h3,h4,h5,h6 {
  font-size: inherit;
  font-weight: 400;
}
/* Сверху - обнуляющий CSS */
.main {
  padding: 7px;
  min-height: 100%;
  background-color: rgb(43, 4, 75);
  color: rgb(255, 255, 255);
}
header {
  background-color: rgba(43, 4, 75, 0.7);
  border-bottom: 2px solid rgb(169, 143, 196);
  min-width: 100%;
  height: 5%;
  display: flex;
  border-radius: 0px 0px 10px 10px;
}
.auth {
  display: flex;
  position: relative;
  left: 80px;
  top: 5px;
}
.reg-btn > form {
  position: relative;
  right: 25px;
}
header > div > div > form > button {
  background-color: rgba(43, 4, 75, 0.7);
  border: 2px solid rgb(169, 143, 196);
  border-radius: 5px;
  color: rgb(169, 143, 196);
  font-weight: 700;
  font-family: fantasy, sans-serif;
  font-size: larger;
}
header > div > div > form > button:hover {
  background-color: rgb(235, 177, 17);
  color: black;
}
.title {
  position: relative;
  left: 370px;
  top: 5px;
  font-weight: 700;
  font-family: fantasy, sans-serif;
  font-size: 27px;
  color: rgb(169, 143, 196);
}
.cart > .cart-btn {
  display: flex;
  position: relative;
  left: 850px;
  top: 5px;
}
header > div > div > form > button {
  padding: 2px;
}
nav {
  float: left;
}
.last-lots {
  position: relative;
  left: 33%;
  width: 55%;
}
h2 {
  font-size: xx-large;
  font-family: sans-serif;
  font-weight: 800;
}
h2:hover {
  color: rgb(235, 177, 17);;
  text-decoration: underline;
  text-decoration-style: wavy;
  transition-duration: 0.1s;
}
.last-lots > ul {
  display: flex;
  flex-direction: column;
  line-height: 65px;
}