* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  *,*:before,*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  :focus,:active {
    outline: none;
  }
  a:focus,a:active {
    outline: none;
  }
  nav,footer,header,aside {
    display: block;
  }
  html,body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: rgb(169, 143, 196);
  }
  input,button,textarea {
    font-family: inherit;
  }
  input::-ms-clear {
    display: none;
  }
  button {
    cursor: pointer;
  }
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  a,a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  ul li {
    list-style: none;
  }
  img {
    vertical-align: top;
  }
  h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: 400;
  }
  /*******************************************************/
  .main {
    padding: 7px;
    min-height: 100%;
    background-color: rgb(43, 4, 75);
    color: rgb(255, 255, 255);
    font-family: sans-serif;
  }
  header {
    background-color: rgba(43, 4, 75, 0.7);
    border-bottom: 2px solid rgb(169, 143, 196);
    min-width: 100%;
    min-height: 40px;
    width: 100%;
    display: flex;
    border-radius: 0px 0px 10px 10px;
    box-sizing: border-box;
  }
  .title {
    position: absolute;
    left: 47%;
    top: 1%;
    font-size: xx-large;
  }
  .title a {
    color: rgb(169, 143, 196);
  }
  .auth {
    display: flex;
    position: absolute;
    left: 4%;
    top: 0.9%;
  }
  .cart {
    position: absolute;
    top: 0.9%;
    left: 80%;
  }
  .login-btn {
    position: absolute;
    left: 110%;
  }
  .profile {
    position: absolute;
    left: 110%;
  }
  header > div > div > form > button {
    background-color: rgba(43, 4, 75, 0.7);
    border: 2px solid rgb(169, 143, 196);
    border-radius: 5px;
    color: rgb(169, 143, 196);
    font-weight: 700;
    font-family: fantasy, sans-serif;
    font-size: larger;
  }
  header > div > div > form > button:hover {
    background-color: rgb(235, 177, 17);
    color: black;
  }
  header > div > div > form > button {
    padding: 2px;
  }
  nav {
    float: left;
    border: 2px solid rgb(169, 143, 196);
    border-radius: 5px;
    padding: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 27px;
  }
  .last-lots {
    position: relative;
    left: 32%;
    max-width: 55%;
  }
  h2 > a {
    display: inline-block;
    color: white;
    font-size: xx-large;
    font-family: sans-serif;
    font-weight: 800;
    max-width: 30%;
  }
  h2 > a:hover {
    color: rgb(235, 177, 17);
    text-decoration: underline;
    text-decoration-style: wavy;
    transition-duration: 0.1s;
  }
  .last-lots > ul {
    display: flex;
    flex-direction: column;
    line-height: 65px;
  }
  nav > ul > li > a {
    color: rgb(235, 177, 17);
  }
  nav > ul > li > a:hover {
    color: red;
  }
  footer {
    height: 50px;
    background-color: rgba(43, 4, 75, 0.7);
    color: rgb(169, 143, 196);
    border-top: 2px solid rgb(169, 143, 196);
    font-family: sans-serif;
  }
  .footer-text {
    position: relative;
    left: 22px;
    top: 22px;
  }
  form {
    color: rgb(245, 207, 41);;
    font-family: sans-serif;
  }
  input:hover, textarea:hover {
    box-shadow: 0 0 10px rgba(235, 177, 17, 1);
  }
  form > div {
    margin-top: 8px;
  }
  form > .submit__input > input {
    background-color: rgba(43, 4, 75, 0.7);
    border: 2px solid rgb(169, 143, 196);
    border-radius: 5px;
    padding: 2px;
    color: rgb(169, 143, 196);
    font-weight: 700;
    font-family: fantasy, sans-serif;
    font-size: larger;
  }
  .password__reset {
    margin-top: 15px;
  }
  .login__form a{
    color: red;
    font-family: sans-serif;
  }
  .footer-text {
    width: 20%;
  }
  @media (max-width: 1200px) {
    .main, header, footer {
      max-width: 1200px;
    }
  }
  @media (max-width: 992px) {
    .main, header, footer {
      max-width: 992px;
    }
  }
  @media (max-width: 767px) {
    .main, header, footer {
      max-width: none;
    }
  }
  .showall__cat a{
    color: red;
  }
  textarea {
    width: 48%;
    height: 200px;
    resize: none;
  }
  .show__lot div {
    margin-top: 8px;
  }
  .lot__page {
    width: 70%;
    margin-left: 15%;
    background-color: rgb(169, 143, 196);
    border-radius: 5px;
    padding: 10px;
    font-size: large;
  }
  .picture_img {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .picture_img img {
    width: 250px;
    height: 300px;
    padding-top: 5px;
    border-radius: 5px;
  }
  .picture_img img:hover {
    width: 400px;
    height: 500px;
  }
  .lot__name {
    display: inline-block;
    color: rgb(245, 207, 41);
    position: relative;
    left: 45%;
    font-weight: 900;
    font-size: x-large;
    margin-bottom: 2px;
    text-align: center;
  }
  .lot__desc {
    border: 3px solid rgb(255, 255, 255);
    border-radius: 7px;
    padding: 5px;
    margin-top: 5px;
    text-align: center;
  }
  .lot__addtocart {
    background-color: rgba(43, 4, 75, 0.7);
    border: 2px solid white;
    border-radius: 5px;
    font-weight: 700;
    font-family: fantasy, sans-serif;
    font-size: larger;
    display: inline-block;
    padding: 3px;
    margin-top: 2px;
  }
  .lot__addtocart a {
    color: rgb(169, 143, 196);
  }
  .lotname__input input {
    width: 17%;
  }
  input {
    border-radius: 3px;
  }
  input:placeholder-shown, textarea:placeholder-shown {
    padding-left: 2px;
  }
  .reviews {
    border-top: 2px solid white;
  }
  .review {
    border: 2px solid white;
    border-radius: 5px;
    padding: 3px;
    margin-top: 5px;
  }
  .review div {
    margin-top: 8px;
  }
  .show__user {
    display: flex;
  }
  .user__info {
    margin-bottom: 25px;
    padding: 5px;
    color: rgb(245, 207, 41);
    font-weight: 700;
    font-size: larger;
  }
  .user__info div {
    margin-top: 5px;
  }
  .user__info span {
    color: white;
  }
  .user__info img {
    width: 400px;
  }
  .userchange {
    position: absolute;
    left: 50%;
    top: 10%;
    padding: 4px;
    border: 3px solid rgb(169, 143, 196);
    border-radius: 5px;
    font-size: x-large;
  }
  .userchange div {
    margin-top: 5px;
  }
  .userchange div a{
    color:red;
    font-size: larger;
    font-weight: 700;
  }
  .userchange div a:hover{
    color: rgb(235, 177, 17);
  }
  .admin__main {
    position: absolute;
    left: 42%;
    top: 35%;
    padding: 4px;
    border: 3px solid rgb(169, 143, 196);
    border-radius: 5px;
    font-size: xx-large;
  }
  .admin__main div a {
    color: rgb(235, 177, 17);
  }
  .admin__main div a:hover {
    color: red;
  }
  .go__to__main a {
    color: rgb(235, 177, 17);
    font-size: xx-large;
  }
  .go__to__main a:hover {
    color: red;
  }
  table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
  }
  th {
  background: rgb(235, 177, 17);
  color: white;
  text-shadow: 0 1px 1px #2D2020;
  padding: 10px 20px;
  }
  th, td {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: white;
  }
  th:first-child, td:first-child {
  text-align: left;
  }
  th:first-child {
  border-top-left-radius: 10px;
  }
  th:last-child {
  border-top-right-radius: 10px;
  border-right: none;
  }
  td {
  padding: 10px 20px;
  background: rgb(169, 143, 196);
  }
  td a {
    color:rgb(245, 207, 41);
    font-weight: 800;
    text-decoration: solid;
  }
  tr:last-child td:first-child {
  border-radius: 0 0 0 10px;
  }
  tr:last-child td:last-child {
  border-radius: 0 0 10px 0;
  }
  tr td:last-child {
  border-right: none;
  }
  .cart__empty {
    font-size: xx-large;
  }
  .lot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 7px;
    padding: 7px;
    border: 3px solid rgb(169, 143, 196);
    border-radius: 5px;
    font-size: large;
  }
  .lot div img {
    width: 300px;
  }
  .lot div a {
    color:rgba(235, 177, 17, 1);
  }
  .lot div a:hover {
    color:red;
    text-decoration: underline;
    text-decoration-style: wavy;
  }
  .cart__buy {
    margin-top: 15px;
  }
  .cart__buy a {
    background-color: rgba(43, 4, 75, 0.7);
    border: 3px solid rgb(169, 143, 196);
    border-radius: 5px;
    padding: 2px;
    color: rgb(169, 143, 196);
    font-weight: 700;
    font-family: fantasy, sans-serif;
    font-size: larger;
  }
  .cart__buy a:hover {
    background-color: rgb(235, 177, 17);
    color: black;
  }