* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  *,*:before,*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  :focus,:active {
    outline: none;
  }
  a:focus,a:active {
    outline: none;
  }
  nav,footer,header,aside {
    display: block;
  }
  html,body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: rgb(169, 143, 196);
  }
  input,button,textarea {
    font-family: inherit;
  }
  input::-ms-clear {
    display: none;
  }
  button {
    cursor: pointer;
  }
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  a,a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  ul li {
    list-style: none;
  }
  img {
    vertical-align: top;
  }
  h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: 400;
  }
  /* Сверху - обнуляющий CSS */
  .main {
    padding: 7px;
    min-height: 100%;
    background-color: rgb(43, 4, 75);
    color: rgb(255, 255, 255);
  }
  header {
    background-color: rgba(43, 4, 75, 0.7);
    border-bottom: 2px solid rgb(169, 143, 196);
    min-width: 100%;
    min-height: 40px;
    width: 100%;
    display: flex;
    border-radius: 0px 0px 10px 10px;
    box-sizing: border-box;

  }
  .auth {
    display: flex;
    position: absolute;
    left: 4%;
    top: 1.5%;
  }
  .cart {
    position: absolute;
    top: 5px;
    left: 80%;
  }
  .login-btn {
    position: absolute;
    left: 110%;
  }
  .profile {
    position: absolute;
    left: 110%;
  }
  header > div > div > form > button {
    background-color: rgba(43, 4, 75, 0.7);
    border: 2px solid rgb(169, 143, 196);
    border-radius: 5px;
    color: rgb(169, 143, 196);
    font-weight: 700;
    font-family: fantasy, sans-serif;
    font-size: larger;
  }
  header > div > div > form > button:hover {
    background-color: rgb(235, 177, 17);
    color: black;
  }
  header > div > div > form > button {
    padding: 2px;
  }
  nav {
    float: left;
    border: 2px solid rgb(169, 143, 196);
    border-radius: 5px;
    padding: 4px;
    font-size: 27px;
  }
  .last-lots {
    position: relative;
    left: 36%;
    width: 55%;
  }
  h2 > a {
    display: inline-block;
    color: white;
    font-size: xx-large;
    font-family: sans-serif;
    font-weight: 800;
    max-width: 30%;
  }
  h2 > a:hover {
    color: rgb(235, 177, 17);
    text-decoration: underline;
    text-decoration-style: wavy;
    transition-duration: 0.1s;
  }
  .last-lots > ul {
    display: flex;
    flex-direction: column;
    line-height: 65px;
  }
  nav > ul > li > a {
    color: rgb(235, 177, 17);
  }
  nav > ul > li > a:hover {
    color: red;
  }
  footer {
    height: 50px;
    background-color: rgba(43, 4, 75, 0.7);
    color: rgb(169, 143, 196);
    border-top: 2px solid rgb(169, 143, 196);
    font-family: sans-serif;
  }
  .footer-text {
    position: relative;
    left: 22px;
    top: 22px;
  }
  form {
    color: rgb(235, 177, 17);
    font-family: sans-serif;
  }
  form > div > input:hover {
    box-shadow: 0 0 10px rgba(235, 177, 17, 1);
  }
  form > div {
    margin-top: 8px;
  }
  form > .submit__input > input {
    background-color: rgba(43, 4, 75, 0.7);
    border: 2px solid rgb(169, 143, 196);
    border-radius: 5px;
    padding: 2px;
    color: rgb(169, 143, 196);
    font-weight: 700;
    font-family: fantasy, sans-serif;
    font-size: larger;
  }
  .password__reset {
    margin-top: 15px;
  }
  .login__form a{
    color: red;
    font-family: sans-serif;
  }
  .footer-text {
    width: 20%;
  }
  @media (max-width: 1200px) {
    .main, header, footer {
      max-width: 1200px;
    }
  }
  @media (max-width: 992px) {
    .main, header, footer {
      max-width: 992px;
    }
  }
  @media (max-width: 767px) {
    .main, header, footer {
      max-width: none;
    }
  }